<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaEWQPoW9PeJqRXGCfNKH29n0MDSjOvKI</string>
	<key>GCM_SENDER_ID</key>
	<string>767772282228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabrielmesquita.XCTestTodoList</string>
	<key>PROJECT_ID</key>
	<string>xctesttodolist</string>
	<key>STORAGE_BUCKET</key>
	<string>xctesttodolist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767772282228:ios:7ce23e9d3179e544cb3021</string>
</dict>
</plist>